<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>비식별 전문 식스센스</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 부트스트랩 CSS 추가하기 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- 커스텀 CSS 추가하기 -->
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/">비식별 전문 식스센스</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">메인</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown"> 회원 관리 </a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <div th:if="${session.id} eq null">
                        <a class="dropdown-item" th:href="@{/user/login}">로그인</a>
                        <a class="dropdown-item" th:href="@{/user/signup}">회원가입</a>
                    </div>
                    <div th:unless="${session.id} eq null">
                        <a class="dropdown-item" th:href="@{/user/logout}" }>로그아웃</a>
                    </div>
                </div>
            </li>


            <!--     마이페이지 메뉴바       -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown"> 마이페이지 </a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <div th:if="${session.id} != null">
                        <a class="dropdown-item" th:href="@{/mypageUpload}" }>파일 업로드</a>
                        <a class="dropdown-item" th:href="@{/mypageResultLog}" }>처리이력</a>
                        <a class="dropdown-item" th:href="@{/mypageDownload}" }>파일 다운로드</a>
                        <a class="dropdown-item" th:href="@{/mypageFilelist}" }>파일 리스트</a>
                    </div>
                </div>
            </li>
        </ul>

        <!--        <form action="./index.jsp" method="get" class="form-inline my-2 my-lg-0">-->
        <!--            <input type="text" name="search" class="form-control mr-sm-2" placeholder="내용을 입력하세요.">-->
        <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>-->
        <!--        </form>-->

    </div>
</nav>

<!-- 파일 업로드 테스트 -->
<div class="container">
    <div class="card bg-light mt-3">
        <div class="card-body">
                <div class="col-3 d-flex justify-content-between">
                    <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                        <input type="text" name="extraField" placeholder="test"><br/><br/>
                        <h2 th:text="|${userName} 님의 데이터 전송|" ></h2>
                        <input type="hidden" id="userName" name="userName" th:value="${userName}">
                        <!--    <input type="file" name="files"/><br/><br/>-->
                        <input type="file" class="btn btn-danger" name="files" id="fileUpload"/><br/><br/>
                        <input type="submit" class="btn btn-primary" value="Submit" id="btnSubmit"/>
                    </form>
                </div>
        </div>
    </div>
</div>

<h1>Ajax 포스트 결과</h1>
<span id="result"></span>

<!-- //여기 ajax로 파일 다른 서버로 보낼 수 있는 코드 짜기-->
<script th:inline="javascript">
  let sessionData = [[${userName}]];
    console.log(sessionData)









</script>


<footer class="bg-dark mt-4 p-4 text-center fixed-bottom" style="color: #FFFFFF;">
    <!--  class 안에 fixed-bottom 추가했음  -->
    Copyright ⓒ 2020 Team 식스센스 All Rights Reserved.
</footer>

<script type="text/javascript" src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/uploadFileAjax.js"></script>

<!-- 제이쿼리 자바스크립트 추가하기 -->
<!--<script src="/js/jquery.min.js"></script>-->
<!-- Popper 자바스크립트 추가하기 -->
<script src="/js/popper.min.js"></script>
<!-- 부트스트랩 자바스크립트 추가하기 -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>