<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>비식별 전문 식스센스</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 부트스트랩 CSS 추가하기 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--     커스텀 CSS 추가하기 -->
    <!--    <link rel="stylesheet" th:href="@{/css/custom.css}"/>-->
    <!--  추가된 CSS  -->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
          rel="stylesheet"/>

    <!--    <link rel="stylesheet" href="css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/css/flaticon.css"/>
    <link rel="stylesheet" href="/css/slicknav.min.css"/>
    <!-- 메인 css -->
    <link rel="stylesheet" href="/css/style.css"/>

    <link rel="stylesheet" href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <!--    <script src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>-->
    <!--    <script src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section -->
<header class="header-section">
    <a th:href="@{/}" class="site-logo">
        <img src="/img/sixlogo.png" alt="">
    </a>
    <!--    <a class="site-logo" th:href="@{/}">비식별 전문 식스센스</a>-->
    <nav class="header-nav">
        <ul class="main-menu">
            <li><a th:href="@{/}">메인</a></li>
            <!--     마이페이지 메뉴     -->
            <li><a th:href="@{/mypageUpload}" th:if="${session.id != null}">파일 업로드</a></li>
            <li><a th:href="@{/mypageResultLog}" th:if="${session.id != null}">처리이력</a></li>
            <li><a th:href="@{/mypageDownload}" th:if="${session.id != null}" class="active">파일 다운로드</a></li>
            <li><a th:href="@{/mypageFilelist}" th:if="${session.id != null}">파일 리스트</a></li>

        </ul>
        <!--   로그인 된경우, 안된경우 다르게     -->
        <div th:if="${session.id} eq null" class="header-right">
            <a class="hr-btn" th:href="@{/user/login}"><i class="flaticon-029-telephone-1"></i>로그인</a>
            <a class="hr-btn hr-btn-2" th:href="@{/user/signup}">회원가입</a>
        </div>
        <div th:unless="${session.id} eq null" class="header-right">
            <a class="hr-btn hr-btn-2" th:href="@{/user/logout}">로그아웃</a>
        </div>
    </nav>
</header>
<!-- 메뉴글 -->

<!-- Page top Section end -->
<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/4.jpg">
    <div class="container">
        <h2>다운로드</h2>
        <nav class="site-breadcrumb">
            <!--            <a class="sb-item" href="#">Home</a>-->
            <span class="sb-item active">여기는 다운로드 페이지 입니다.
            여기서는 비식별 처리된 파일이 모여지는 곳이고 바로 다운로드 하실 수 있습니다.</span>
        </nav>
    </div>
</section>
<!-- Page top Section end -->

<section class="elements-section spad">
    <div class="container">
        <!--  thymeleaf summary data 각각에 뿌려주기 테스트  -->
        <div class="card bg-light mt-3" th:each="log : ${logList}">
            <div class="card-header bg-light">
                <div class="row">
                    <div class="col-8 text-left">
                        유저 이름 :&nbsp;<small th:text="${userName}">이름</small>
                    </div>

                    <div class="col-4 text-right">
                        비식별한 데이터 <span style="color: red;"></span>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    파일 이름&nbsp;:<span th:text="${log.file_name}"></span>
                </h5>
                <h5 class="card-title">
                    생성 날짜&nbsp;:<span th:text="${log.created_date}"></span>
                </h5>
                <h5 class="card-title">
                    다운 횟수&nbsp;:<span th:text="${log.download_cnt}"></span>
                </h5>
                <h5 class="card-title">
                    API 주소&nbsp;:<span th:text="${log.file_name}"></span>
                </h5>
                <p class="card-text">해당 파일은 비식별처리가 되어있는 파일입니다.</p>

                <!-- 데이터 상세보기 -->
                <div class="row">
                    <!--                <span class="col-9 text-left" th:text="${summarylist.info}"></span>-->
                    <div class="col-3 d-flex justify-content-between">
                        <!--                    <form th:action="@{/fileDown/{file}(file=${log.result_location})}" class="form-inline my-2 my-lg-0">-->
                        <form th:action="@{/fileDown/{file}(file=${log.result_file_name})}"
                              class="form-inline my-2 my-lg-0">
                            <button class="btn btn-primary ml-1 mt-2">다운로드</button>
                        </form>
                        <a class="btn btn-secondary ml-1 mt-2" onclick="return confirm('삭제하시겠습니까?')"
                           href="./deleteAction.jsp?evaluationID=">삭제</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 테스트 -->
    </div>

</section>
<section class="elements-section spad">
</section>
  
<!-- 바닥글 -->
<footer class="footer-section">
    <div class="container">
        <a th:href="@{/}" class="footer-logo">
            <img src="/img/sixlogo.png" alt="">
        </a>
        <div class="copyright">
            Copyright ⓒ 2020 Team 식스센스 All Rights Reserved.
        </div>
    </div>
</footer>
  
<!-- Popper 자바스크립트 추가하기 -->
<script src="/js/popper.min.js"></script>
<!-- 부트스트랩 자바스크립트 추가하기 -->
<script src="/js/bootstrap.min.js"></script>
<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>