<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>비식별 전문 식스센스</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 부트스트랩 CSS 추가하기 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--     커스텀 CSS 추가하기 -->
    <!--    <link rel="stylesheet" th:href="@{/css/custom.css}"/>-->
    <!--  추가된 CSS  -->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
          rel="stylesheet"/>

    <!--    <link rel="stylesheet" href="css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/css/flaticon.css"/>
    <link rel="stylesheet" href="/css/slicknav.min.css"/>
    <!-- 메인 css -->
    <link rel="stylesheet" href="/css/style.css"/>

    <link rel="stylesheet" href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <!--    <script src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>-->
    <!--    <script src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->
</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section -->
<header class="header-section">
    <!--		<a href="index.html" class="site-logo">-->
    <!--			<img src="img/logo.png" alt="">-->
    <!--		</a>-->
    <a class="site-logo" th:href="@{/}">비식별 전문 식스센스</a>
    <nav class="header-nav">
        <ul class="main-menu">
            <li><a th:href="@{/}" class="active">메인</a></li>
            <!--     마이페이지 메뉴     -->
            <li><a th:href="@{/mypageUpload}" th:if="${session.id != null}">파일 업로드</a></li>
            <li><a th:href="@{/mypageResultLog}" th:if="${session.id != null}">처리이력</a></li>
            <li><a th:href="@{/mypageDownload}" th:if="${session.id != null}">파일 다운로드</a></li>
            <li><a th:href="@{/mypageFilelist}" th:if="${session.id != null}">파일 리스트</a></li>

        </ul>
        <!--   로그인 된경우, 안된경우 다르게     -->
        <div th:if="${session.id} eq null" class="header-right">
            <a class="hr-btn" th:href="@{/user/login}"><i class="flaticon-029-telephone-1"></i>로그인</a>
            <a class="hr-btn hr-btn-2" th:href="@{/user/signup}">회원가입</a>
        </div>
        <div th:unless="${session.id} eq null" class="header-right">
            <a class="hr-btn hr-btn-2" th:href="@{/user/logout}">로그아웃</a>
        </div>
    </nav>
</header>
<!-- 메뉴글 -->

<!-- Page top Section end -->
<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/4.jpg">
    <div class="container">
        <h2>Contact</h2>
        <nav class="site-breadcrumb">
            <a class="sb-item" href="#">Home</a>
            <span class="sb-item active">Contact</span>
        </nav>
    </div>
</section>
<!-- Page top Section end -->

<!-- Contact Section end -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>회원가입</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut
                        labore et dolore mag na aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos hime-naeos. Suspendisse potenti. </p>
                    <ul>
                        <li><i class="flaticon-032-placeholder"></i>1525 Loans Lane, Los Angeles, CA</li>
                        <li><i class="flaticon-029-telephone-1"></i>+1 (603)535-4592</li>
                        <li><i class="flaticon-025-arroba"></i>hello@youremail.com</li>
                        <li><i class="flaticon-038-wall-clock"></i>Everyday: 06:00 -22:00</li>
                    </ul>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- 회원가입 포스트로 /userRegisterAction으로 보냄 -->
                <div class="col-lg-13" style="max-width: 560px;">
                    <form class="hero-form" th:action="@{/user/signup}" method="post" onsubmit="return Validation();">
                        <div class="form-group">
                            <input type="email" name="email" id="valid_email" placeholder="이메일">
                            <span th:text="${valid_email}"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" id="valid_username" placeholder="이름">
                            <span th:text="${valid_username}"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="valid_password" placeholder="비밀번호">
                            <span th:text="${valid_password}"></span>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="phoneNumber" id="valid_phoneNumber" placeholder="전화번호">
                            <span th:text="${valid_phoneNumber}"></span>
                        </div>
                        <button type="submit" class="site-btn">회원가입</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section end -->


<!-- 바닥글 -->
<footer class="footer-section">
    <div class="container">
        <a th:href="@{/}" class="footer-logo">
            <img src="/img/logo.png" alt="">
        </a>
        <div class="copyright">
            Copyright ⓒ 2020 Team 식스센스 All Rights Reserved.
        </div>
    </div>
</footer>
<!-- Footer Section end -->

<!--signupValidationTest 제이쿼리 자바스크립트 추가하기 -->
<script type="text/javascript" src="/js/signupValidationTest.js"></script>
<!-- Popper 자바스크립트 추가하기 -->
<script src="/js/popper.min.js"></script>
<!-- 부트스트랩 자바스크립트 추가하기 -->
<script src="/js/bootstrap.min.js"></script>
<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>